@import 'node_modules/govuk-frontend/govuk/all';
@import 'results_certificate_3.scss';
@import 'header_one_login.scss';
@import 'dbs_logo_banner.scss';

.js-enabled {
    .tabs-mobile {
        display: none;
      }
}

.govuk-tabs__list-item--selected {
  margin-bottom: 0 !important;
  border-bottom: unset !important;
}

@media print{
  .noprint{
      display:none;
  }
}
